@import '../../../assets/common';

.card {
  box-sizing: border-box;
  flex-basis: 40%;
  border: 2px solid $grey;
  border-radius: 10px;
  min-width: 300px;
  margin: 10px 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .owner,
    .status {
      text-align: right;
      font-size: 0.8em;
      margin-bottom: 5px;
    }

    p {
      display: flex;
      align-items: center;
      font-size: 1.2em;
      font-weight: 500;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }
  }

  &-bids {
    margin: 20px 0;
  }
  
  &-functions {
    display: flex;
    justify-content: center;

    button {
      height: 40px;
      width: 40px;
      border: 1px solid $blue;
      border-radius: 5px;
      background-color: $blue;
      color: $grey;
      cursor: pointer;
      margin: 0 10px;
      transition: 0.3s;
      
      &:hover {
        background-color: $dark-blue;  
      }

      &:focus {
        outline: none;
      }

      &:active {
        background-color: rgba($color: $dark-blue, $alpha: 0.5);
      }
    }
  }

  &_done {
    background-color: $grey;
    color: $dark;

    .card-functions {
      button {
        background-color: $silver;
        color: $white;
        border: $silver;
      }
    }
  }
}