<div class="card" [class.card_done]="auction.done">
  
  <div class="card-header">
    <p>{{auction.item.title}}</p>
    <div class="card-header__info">
      <span class="status">{{auction.done ? "closed" : "open"}}</span>
      <span class="owner">{{auction.item.owner.name}}</span>
    </div>
  </div>

  <div class="card-bids">
    <p>Initial bid: <span>{{auction.initialBid | currency}}</span></p>
    
    <p *ngIf="auction.history.length > 0; else noHistory">
      {{auction.done ? "Winner bid:" : "Current bid:"}} 
      <span>{{auction.history[auction.history.length-1].bid | currency}}</span> from <span>{{auction.history[auction.history.length-1].user.name}}</span>
    </p>
    <ng-template #noHistory>You can be first</ng-template>
  </div>

  <div class="card-functions">
    
    <button class="bid" (click)="makeBidClick.emit(this.auction)" [disabled]="auction.done">
      <i class="fa fa-gavel"></i>
    </button>

    
    <button class="info" (click)="showInfo.emit(this.auction)">
      <i class="fa fa-info"></i>
    </button>

    <button class="complete" (click)="closeAuction.emit(this.auction)" [disabled]="auction.done">
      <i class="fa fa-check"></i>
    </button>
    
  </div>
</div>