<section *ngIf="!error; else elseBlock">

  <button class="add-btn" (click)="openModal('createAuction')">
    <i class="fa fa-plus fa-lg"></i>
  </button>
  
  <div class="card-container">
    <app-auction-card *ngFor="let auction of auctions" [auction]="auction" 
    (closeAuction)="onCloseAuction($event)"
    (makeBidClick)="onMakeBidClick($event)">
    </app-auction-card>
  </div>

  <section *ngIf="isModal" class="modal" [ngSwitch]="modalType">
    <app-create-auction *ngSwitchCase="'createAuction'" (closeModalEvent)="closeModal()" 
    (submitCreateAuctionEvent)="onSubmitCreateAuction($event)">
    </app-create-auction>
    
    <app-make-bid *ngSwitchCase="'makeBid'" (closeModalEvent)="closeModal()" 
    (submitMakeBidEvent)="onSubmitMakeBid($event)" [min]="getMinBidValue()">
    </app-make-bid>
  </section>

</section>

<ng-template #elseBlock>
  <p class="no-list-message" #elseBlock>
      Please select a list.
  </p>
</ng-template>

