<div class="card-container">
  <div class="card">

    <div class="card-header">
      <p>A red ball</p>
      <div class="card-header__info">
        <span class="status">active/closed</span>
        <span class="owner">Vitalii</span>
      </div>
    </div>

    <div class="card-bids">
      <p>Initial bid: <span>50</span></p>
      <p>Current bid: <span>100</span> from <span>Egor</span></p>
    </div>

    <div class="card-functions">
      
      <button class="bid">
        <i class="fa fa-gavel"></i>
      </button>

      <button class="complete">
        <i class="fa fa-check"></i>
      </button>
      
    </div>
  </div>
</div>

